.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.form-descricao{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.form-valor{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.form-descricao--input{
    width: 260px;
}
.form-valor--input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    height: 48px;
    background: #F8F9FA;

    border: 2px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #868E96;
    width: 100px;
}
.form-valor--select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    height: 48px;

    background: #F8F9FA;
    border: 2px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;

    color: #868E96;
}
.form-valor--div1{
    margin-right: 10px;
    width: 150px;
}
.form-descricao h5, .form-valor h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    color: #212529;
}
.form-descricao span, .valor-total span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #868E96;
}
.form-descricao input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;

    background: #F8F9FA;

    border: 2px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 8px;

    height: 52.80000305175781px;
    padding: 0px, 16px, 0px, 16px;
}
.form-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-button button{
    width: 260px;
    height: 48px;
    background: #FD377E;
    margin: 20px 0 0 0;
    border: 2px solid #FD377E;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    cursor: pointer;
}
.form-button button:hover{
    background-color: crimson;
    border: crimson
}
.form-button button:active{
    transform: scale(0.98);
}
