@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;400&family=Nunito:wght@400;700&family=Poppins:wght@500&display=swap');

.green-card, .red-card{
    display: flex;
    height: 87px;
    width: 560px;
    margin: 15px 0px;
    background: #F8F9FA;
    border-radius: 4px;
}
.green-card::before{
    content: "";
    display: flex;
    height: auto;
    width: 5px;
    background-color: green;
    border-radius: 2px 0 0 2px;
}
.red-card::before{
    content: "";
    display: flex;
    height: auto;
    width: 5px;
    background-color: #E9ECEF;
    border-radius: 2px 0 0 2px;
}
.card-left{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 87px;
    margin-left: 25px;
}
.card-right{
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.card-excluir{
    display: flex;
    justify-content: center;
    align-items: center;

    background: #E9ECEF;
    border-radius: 2.46154px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    height: 22px;
    width: 22px;
    border-radius: 2.461538553237915px;
    border: none;
    margin-right: 15px;
    margin-left: 30px;
    margin-top: 5px;
}
.card-excluir:hover{
    background-color: #868E96;
}
.card-excluir:active{
    transform: scale(0.98);
}
.green-card h3, .red-card h3{
    margin: 15px 0px 0px 10px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: #212529;
}
.green-card h5, .red-card h5{
    margin: 10px 10px 0px 0px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    color: #212529;
}
.green-card span, .red-card span{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-left: 10px;

    color: #868E96;
}