@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;400&family=Nunito:wght@700&family=Poppins:wght@500&display=swap');

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin-top: 25px;
  padding: 20px;
  background: #FFFFFF;

  border: 1px solid #E9ECEF;
  box-sizing: border-box;
  border-radius: 4px;
}
.resumo-financeiro{
  max-width: 300px;
}
.resumo-financeiro--head{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.resumo-financeiro--title h3{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  
  color: #212529;
}
.resumo-financeiro--buttons{
  display: flex;
  justify-content: space-between;
}

.filtrar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #E9ECEF;
  height: 30px;
  width: 60px;

  border: 1.4px solid #E9ECEF;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0px 10px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #868E96;
}
.filtrar:active{
  transform: scale(0.98);
}
.filtrar:hover{
  background-color:aliceblue;
}
.filtrar-todos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #FD377E;
  height: 30px;
  width: 60px;

  border: 1.4px solid #FD377E;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0px 10px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: white
}
.filtrar-todos:active{
  transform: scale(0.98);
}
.filtrar-todos:hover{
  background-color:crimson;
}

@media (min-width: 375px) {
  .form{
    max-width: 350px;
    width: 100%;
  }
  .resumo-financeiro{
    width: 100%;
    max-width: 350px;
  }
}
@media (min-width: 425px){
  .form{
    max-width: 375px;
    width: 100%;
  }
  .resumo-financeiro{
    width: 100%;
    max-width: 375px;
  }
}
@media (min-width: 768px){
  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
  }
  .form{
    max-width: 300px;
    width: 100%;
  }
  .resumo-financeiro{
    width: 100%;
    max-width: 300px;
  }
  .filtrar{
    height: 50px;
    width: 90px;
  }
  .filtrar-todos{
    height: 50px;
    width: 90px;
  }
}
@media (min-width: 1024px){

}
@media (min-width: 1440px){
  .content{
    justify-content: center;
  }
  .form{
    margin-right: 200px;
  }
}

